# python Tuple

### 1. A tuple is a collection of objects which ordered and immutable.
### 2. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [1]:
tup1=('c','c++','java','.Net')
tup2=(1,2,3,4,5)
tup3="1","2","3","3","4"

In [2]:
print(tup1)
print(tup2)
print(tup3)

('c', 'c++', 'java', '.Net')
(1, 2, 3, 4, 5)
('1', '2', '3', '3', '4')

### 3. empty Tuple
tup=()

In [3]:
tup=(50)

In [4]:
tup

50

### 4. Tuple index start with 0 and they can be sliced, concatenated, and so on.

In [6]:
tup=(2,3,4,5,6,7,8)
print(tup[2:5])

(4, 5, 6)

In [7]:
tup1=(2,3,4,5,6,7,8)
tup2=(23,45,67,89,45)
tup3=tup1 + tup2
print(tup1)
print(tup2)
print(tup3)

(2, 3, 4, 5, 6, 7, 8)
(23, 45, 67, 89, 45)
(2, 3, 4, 5, 6, 7, 8, 23, 45, 67, 89, 45)

### 5. updating Tuples: Tuples are immutable which means you cannot update or change the values of tuple elements.

In [9]:
tup=(1,2,3)
tup[3]=5 # not possible on tuple

TypeError: 'tuple' object does not support item assignment

### 6. Deleting Tuple: Removing individual tuple elements is not possible.

In [12]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
print (tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

### 7. Basic Tuple operation

### 7.1 finding length of tuple

In [13]:
tup=(1,2,3,4,5)
print(len(tup))

5

### 7.2 concatenating two tuple

In [14]:
tup=(1,2,3,4,5)
tup2=(23,34,45,56)
tup=tup + tup2
print(tup3)

(2, 3, 4, 5, 6, 7, 8, 23, 45, 67, 89, 45)

### 7.3 repetition of Tuple using *

In [15]:
tup=(1,2,3,4,5)
print(tup * 2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 7.4 Membership operator on tuple

In [16]:
tup=(1,2,3,4,5)
if 3 in tup:print("true")
else:print("false")

true

In [17]:
tup=(1,2,3,4,5)
if not 3 in tup:print("true")
else:print("false")

false

### Slicing on Tuple

In [18]:
tup=(1,2,3,4,5)
print(tup[2:3])
print(tup[-1])# print form right
print(tup[1:])

(3,)
5
(2, 3, 4, 5)