# Python List

### 1. list can store different types of data
### 2. created with the help of []
### 3. can store duplicate value
### 4. empty list can be created as: var=[] and we can add values with the help of append()
### 5. list index start with index 0.

In [2]:
data=['shital',123,12.4,0,12,4,4,4]

In [3]:
data

['shital', 123, 12.4, 0, 12, 4, 4, 4]

In [4]:
data[:3]

['shital', 123, 12.4]

In [5]:
data[2:]

[12.4, 0, 12, 4, 4, 4]

In [6]:
data[3:5]

[0, 12]

In [7]:
data[:]

['shital', 123, 12.4, 0, 12, 4, 4, 4]

In [8]:
data.append('siya')

In [9]:
data

['shital', 123, 12.4, 0, 12, 4, 4, 4, 'siya']

### 6. You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, 
###     and you can add to elements in a list with the append() method.

In [13]:
data[2]='kumar'
data

['shital', 123, 'kumar', 0, 12, 4, 4, 4, 'siya']

### 7. we can delete the list elements with the help of del statement

In [14]:
del data[2]

In [15]:
data

['shital', 123, 0, 12, 4, 4, 4, 'siya']

In [16]:
### 8. list operation
### 8.1 len()

In [18]:
print(len(data))

8

### 8.2 concateneting two string

In [19]:

data2=['bhairavi','elephant',23]
data3=data+data2
print(data3)

['shital', 123, 0, 12, 4, 4, 4, 'siya', 'bhairavi', 'elephant', 23]

### 8.3 Repetition of string using *

In [21]:
print(data2*2)

['bhairavi', 'elephant', 23, 'bhairavi', 'elephant', 23]

### 8.4 Membership operator

In [ ]:
if 'bhairavi' in data2:print("Bhairavi present in data2")
else: print("Bhairavi present in data2")