# Python List

### 1. list can store different types of data
### 2. created with the help of []
### 3. can store duplicate value
### 4. empty list can be created as: var=[] and we can add values with the help of append()
### 5. list index start with index 0.

In [2]:
data=['shital',123,12.4,0,12,4,4,4]

In [3]:
data

['shital', 123, 12.4, 0, 12, 4, 4, 4]

In [4]:
data[:3]

['shital', 123, 12.4]

In [5]:
data[2:]

[12.4, 0, 12, 4, 4, 4]

In [6]:
data[3:5]

[0, 12]

In [7]:
data[:]

['shital', 123, 12.4, 0, 12, 4, 4, 4]

In [8]:
data.append('siya')

In [9]:
data

['shital', 123, 12.4, 0, 12, 4, 4, 4, 'siya']

### 6. You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, 
###     and you can add to elements in a list with the append() method.

In [13]:
data[2]='kumar'
data

['shital', 123, 'kumar', 0, 12, 4, 4, 4, 'siya']

### 7. we can delete the list elements with the help of del statement

In [14]:
del data[2]

In [15]:
data

['shital', 123, 0, 12, 4, 4, 4, 'siya']

### 8. list operation
### 8.1 len()

In [18]:
print(len(data))

8

### 8.2 concateneting two string

In [19]:

data2=['bhairavi','elephant',23]
data3=data+data2
print(data3)

['shital', 123, 0, 12, 4, 4, 4, 'siya', 'bhairavi', 'elephant', 23]

### 8.3 Repetition of string using *

In [21]:
print(data2*2)

['bhairavi', 'elephant', 23, 'bhairavi', 'elephant', 23]

### 8.4 Membership operator

In [23]:
if 'bhairavi' in data2:print("Bhairavi is present in data2")
else: print("Bhairavi is not present in data2")

Bhairavi is present in data2

In [24]:
if not 'bhairavi' in data2:print("Bhairavi is not present in data2")
else: print("Bhairavi is  present in data2")

Bhairavi is  present in data2

# List Functions

### 1. len(): finds the length of list

In [10]:
str=['java','c','c++']
print(len(str))

3

In [11]:
str2=list(range(5))# created list of size 5 and contain number from 0-4
print(str2[2])
print(str2)

2
[0, 1, 2, 3, 4]

### 2. max(): returns maximum no from list

In [12]:
print(max(str))
str3=[34,56,1,23,89]
print(max(str3))

java
89

### 3. min(): returns minimum no from list

In [13]:
var,var2=['f','r','t','a'],[23,56,43,78,65]
print(min(var),"  ",min(var2))

a    23

### 4. list(): converts tuple or string into list

In [14]:
var=('c','c++','java','python')
list_var=list(var)
print(list_var)
str="Hello world"
list_var2=list(str)
print(list_var2)

['c', 'c++', 'java', 'python']
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

# List Methods

### 1. append(): add the elements into the list

In [18]:
var=list()
var.append(5)
var.append(3)
var.append(45)
var.append(56)
var.append(89)
print(var)

[5, 3, 45, 56, 89]

### 2.count(): count how many times object occur in the list

In [22]:
var=[12,34,45,12,67,45,12,12,45,67,87]
print(var.count(12))

4

### 3. Index():This method returns index of the found object otherwise raise an exception indicating that value does not find.

In [23]:
var=['c','c++','java','python']
print(var.index('java'))

2

In [24]:
var=['c','c++','java','python']
var2=list(range(5))
var.extend(var2)
print("extneded list",var)

extneded list ['c', 'c++', 'java', 'python', 0, 1, 2, 3, 4]

### 4.insert(index,obj): insert the object at given position

In [27]:
var=['c','c++','java','python']
print("before inserting ",var)
var.insert(3,".Net")
print(var)

before inserting  ['c', 'c++', 'java', 'python']
['c', 'c++', 'java', '.Net', 'python']

### 5. pop():

In [29]:
var=['c','c++','java','python','.Net']
print("before poping ",var)
print("poped element",var.pop())
print("after poping ",var)
print("poping index=1 element",var.pop(1))
print("after poping ",var)

before poping  ['c', 'c++', 'java', 'python', '.Net']
poped element .Net
after poping  ['c', 'c++', 'java', 'python']
poping index=1 element c++
after poping  ['c', 'java', 'python']

### 6. Remove():method remove() searches for the given element in the list and removes the first matching element.

In [1]:
var=['c','c++','java','python','.Net','c','java']
print("before removing element 'c' ",var)
var.remove('c')
print("after removing element ",var)

before removing element 'c'  ['c', 'c++', 'java', 'python', '.Net', 'c', 'java']
after removing element  ['c++', 'java', 'python', '.Net', 'c', 'java']

### 7. reverse(): method reverse() reverses objects of list in place.

In [2]:
var=[1,2,3,4,5]
print("before reverse list", var)
var.reverse()
print("after reversing the list",var)

before reverse list [1, 2, 3, 4, 5]
after reversing the list [5, 4, 3, 2, 1]

### 8. sort(): method sort() sorts objects of list, use compare func if given.

In [ ]:
var=[23,21,11,98,300,230]
var.s