## Work on Sample Data

In [63]:
!wget -O Sample.csv https://raw.githubusercontent.com/shitalajagekar/Python-Practice/master/sample-data.csv

--2021-05-30 11:55:57--  https://raw.githubusercontent.com/shitalajagekar/Python-Practice/master/sample-data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1120412 (1.1M) [text/plain]
Saving to: ‘Sample.csv’

Sample.csv          100%[===================>]   1.07M  --.-KB/s    in 0.02s

2021-05-30 11:55:58 (44.9 MB/s) - ‘Sample.csv’ saved [1120412/1120412]

In [64]:
import pandas as pd
import numpy as np
import time

In [65]:
df= pd.read_csv("Sample.csv")

In [66]:
df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303

In [67]:
length= df.shape
rows =length[0]
print(rows)

10455

In [68]:
def converter(x):
    for i in range(rows):
        epoch = df.loc[i,'time']
        time_formatted = time.strftime('%Y/%m/%d %H:%M:%S', time.localtime(epoch))
        return time_formatted

In [69]:
df['local_time'] = df.apply (converter, axis=1)

In [70]:

df.head()

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,local_time
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021/05/03 06:06:50
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021/05/03 06:06:50
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021/05/03 06:06:50
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021/05/03 06:06:50
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021/05/03 06:06:50

In [71]:

cell_nos =[]
cell_nos = list(map(int,input("Enter cell no :").strip().split(" ")))
label = int(input("Enter label : "))
diff =cell_nos[1] - cell_nos[0]

Enter cell no :5 25
Enter label : 5

In [72]:
for i in range(rows):
    df['Added_label']= 0

In [74]:
start = cell_nos[0]
for i in range(diff+1):
    df.loc[start,'Added_label'] = label
    start =start + 1

In [75]:
df.head(20)

,time,accX,accY,accZ,gyrX,gyrY,gyrZ,magX,magY,magZ,local_time,Added_label
0,1620022010,-5.509766,-2.220703,5.208984,3.417969,16.113281,-30.944824,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,0
1,1620022010,-5.533203,-2.210938,5.205078,-15.380859,22.277832,-27.893066,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,0
2,1620022010,-5.591797,-2.097656,5.251953,-28.564453,27.282715,-22.155762,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,0
3,1620022011,-5.517578,-2.107422,5.220703,-43.029785,37.841797,-6.103516,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,0
4,1620022011,-5.562500,-2.152344,5.306641,-57.617188,41.503906,12.451172,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,0
5,1620022011,-5.582031,-2.158203,5.263672,-62.561035,40.954590,28.259277,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
6,1620022010,-5.574219,-2.148438,5.269531,-77.941894,30.395508,39.855957,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
7,1620022010,-5.558594,-2.216797,5.332031,-80.444336,31.250000,42.236328,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
8,1620022010,-5.482422,-2.220703,5.378906,-74.218750,37.841797,44.128418,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
9,1620022010,-5.458984,-2.220703,5.402344,-69.274902,39.245605,43.212891,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
10,1620022010,-5.457031,-2.234375,5.373047,-55.236816,36.315918,32.714844,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
11,1620022010,-5.484375,-2.232422,5.427734,-45.471191,28.259277,26.062012,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
12,1620022010,-5.488281,-2.207031,5.460938,-29.052734,21.545410,17.456055,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
13,1620022010,-5.416016,-2.144531,5.439453,-19.409180,14.526367,15.441895,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
14,1620022010,-5.431641,-2.240234,5.478516,-2.197266,10.131836,9.643555,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
15,1620022010,-5.443359,-2.220703,5.429688,14.831543,-1.647949,-2.990723,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
16,1620022010,-5.429688,-2.189453,5.412109,26.306152,-1.708984,-7.995605,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
17,1620022010,-5.435547,-2.207031,5.423828,33.874512,-0.427246,-16.601562,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
18,1620022010,-5.457031,-2.263672,5.328125,43.029785,-9.155273,-24.414062,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5
19,1620022010,-5.453125,-2.154297,5.318359,46.142578,-7.507324,-31.066895,-0.175195,0.006348,0.060303,2021/05/03 06:06:50,5